
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>saguir Powa</h1>
        <h2>Vista inicial para portal clientes</h2>
        <p>Párrafo de noticias a nuestros clientes etc </p>
        <p>Párrafo de noticias a nuestros clientes etc </p>
        <p>Párrafo de noticias a nuestros clientes etc </p>
        <p>Párrafo de noticias a nuestros clientes etc </p>
        <p>Párrafo de noticias a nuestros clientes etc </p>

        <a href="@Url.Action("Index", "Auth")">>>>> Login <<<<</a>
    </div>
</body>
</html>
